@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root{
  --blue : #1320DC;
  --text-gray : #77798C;
  --pink : #FB0A72;
}

html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1320DC;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(19, 32, 220, 0.8);
}

body {
  font-size: 1.6rem !important;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif !important;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-top{
    width: 88%;
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C4C8C5;
}
.header-top-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 295px;
    height: 45px;
    background-color: #f1f1f1;
    border-radius: 5px;
}
.header-top-search input{
    width: 90%;
    height: 100%;
    padding: 0rem 1rem 0rem 1rem;
    color: var(--text-gray);
    background-color: #f1f1f1;
    border-radius: 5px;
    border: none;
    outline: none;
}
.header-top-search input:hover{
    outline: none;
}
.fa-magnifying-glass{
    width: 20%;
    color: #1320DC;
    cursor: pointer;
}
.haeder-top-logo{
    cursor: pointer;
}
.haeder-top-logo span{
    color: #1320DC;
}
#language{
    font-size: 16px;
    border: none;
    outline: none;
    margin-right: 1rem;
    cursor: pointer;
}
#devise{
    font-size: 16px;
    border: none;
    outline: none;
    margin-right: 1rem;
    cursor: pointer;
}
.button-connexion{
    color: var(--blue);
    padding: 1rem;
    margin-right: 0.2rem; 
    border: 2px solid var(--blue);
    border-radius: 5px;
    background-color: #fff;
}
.button-connexion:hover{
    color: #fff;
    background-color: var(--blue);
    cursor: pointer;
}
.button-inscription{
    color: white;
    padding: 1rem; 
    border: 2px solid var(--blue);
    border-radius: 5px;
    background-color: var(--blue);
}
.button-inscription:hover{
    color: var(--blue);
    border: 2px solid var(--blue);
    background-color: #fff;
    cursor: pointer;
}
.header-navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 70px;
}
.header-navbar ul a{
    color: var(--text-gray);
    text-decoration: none;
    padding: 0.3rem 0rem 0.3rem 0rem;
    margin: 0rem 0.6rem 0rem 0.6rem;
}
.header-navbar ul a:hover{
    color: var(--blue);
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    background-color: #f1f1f1;
}

.main-top-image{
    width: 88%;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-image: url('../images/Untitled-4.jpg');
    background-size: cover;
}
.main-top-image-label{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}
.main-top-image-label h1{
    color: #fff; 
    font-size: 40px;
}
.main-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    padding: 2rem 0rem 2rem 0rem;
}
.main-right-article{
    width: 24%;
    height: 430px;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
}
.main-right-article-image{
    height: 50%;
}
.main-right-article-image img{
    width: 100%;
    height: 100%;
}
.main-right-article-details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30%;
}
.main-right-article-details span{
    font-weight: bold;
}
.main-right-article-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%; 
}
.main-right-article-button-buy{
    width: 70%;
    height: 60%;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--blue);
    cursor: pointer;
}
.main-right-article-button-buy:hover{
    color: var(--blue);
    border: 2px solid var(--blue);
    background-color: #fff;
}
.main-right-article-button-plus{
    width: 25%;
    height: 60%;
    font-size: 20px;
    color: var(--blue);
    border: 2px solid var(--blue);
    border-radius: 5px;
    background-color:#fff;
    cursor: pointer;
}
.main-right-article-button-plus:hover{
    color: #fff;
    background-color: var(--blue);
}
.main-right-bottom{
    width: 100%;
    height: 80px;
}
.main-right-bottom-button{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100%;
}
.main-right-bottom-button-more{
    width: 12%;
    height: 50%;
    font-size: 16px;
    color: var(--blue);
    border: 2px solid var(--blue);
    border-radius: 5px;
    background-color:#fff;
    cursor: pointer;
}
.main-right-bottom-button-more:hover{
    color: #fff;
    background-color: var(--blue);
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}